@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,800;1,800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
* ul {
  list-style-type: none;
}

html, body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.06rem;
  color: #b8b8b8;
  background-color: #1a1a1a;
  background-image: url("../assets/bg/broken_noise.png");
  overflow-x: hidden;
}

.main-container {
  width: 90vw;
  margin: auto;
}

h1 {
  font-weight: 800;
  font-size: 3rem;
}

h2 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
}

h3 {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
}

a, a:active, a:visited {
  color: #b8b8b8;
  text-decoration: none;
}

.navbar {
  height: 10vh;
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__links {
  display: none;
}

.header {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.header .focus-in-expand-fwd {
  -webkit-animation: focus-in-expand-fwd 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-expand-fwd 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
.header .fa-arrow-alt-circle-down {
  opacity: 0.3;
  color: #b8b8b8;
  font-size: 2rem;
  position: absolute;
  bottom: 5vh;
  align-self: center;
}
.header .heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.first-section {
  height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.first-section__heading {
  margin: 10px 0;
  font-size: 2rem;
  line-height: 2.4rem;
}
.first-section__subheading {
  margin: 30px;
  font-weight: 400;
  line-height: 1.5rem;
}
.first-section__subheading--bolder {
  font-weight: 800;
}

.projects {
  margin: 25px 0;
}

.projects-grid {
  margin: 5vh auto;
  width: 90%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
  gap: 50px;
}
.projects-grid__item {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 70%;
  margin: 4vh 0;
}
.projects-grid__item-description {
  border-bottom: 2px solid #b8b8b8;
  padding: 20px 0;
}
.projects-grid__item-menu {
  display: grid;
  grid-template-columns: 1fr;
}
.projects-grid__item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 2px solid #b8b8b8;
}
.projects-grid__item-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 50vh;
  max-height: 60vh;
}
.projects-grid__item-img--1 {
  background-image: url(../assets/images/robot.jpg);
}
.projects-grid__item-img--2 {
  background-image: url(../assets/images/connect.jpg);
}
.projects-grid__item-img--3 {
  background-image: url(../assets/images/laptop.jpg);
}
.projects-grid__item-img--4 {
  background-image: url(../assets/images/tablet.jpg);
}

.skills {
  margin: 10vh 0;
}

.skills-grid {
  margin: 5vh 0;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
  gap: 40px;
}
.skills-grid__item-menu {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}
.skills-grid__item-link {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 50vw;
  padding: 10px 0;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 2px solid #b8b8b8;
}
.skills-grid__item-link h3 {
  font-weight: 500;
  font-size: 1rem;
}

.contact {
  margin: 5vh 0;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 5vh 0;
}
.contact-grid__info {
  margin: 3vh 0;
}
.contact-grid__info i {
  margin: 0 5vw;
}
.contact-grid__form {
  margin: 3vh 0;
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  row-gap: 20px;
}
.contact-grid__form input, .contact-grid__form input:focus, .contact-grid__form input:active, .contact-grid__form textarea {
  outline: none;
  padding: 20px 0;
  background: none;
  border: none;
  border-bottom: 2px solid #b8b8b8;
  color: #b8b8b8;
  font-weight: 500;
  text-transform: uppercase;
}
.contact-grid__form input[type=submit] {
  margin-top: 3vh;
  width: 60%;
  justify-self: center;
  border: 1px solid #b8b8b8;
}

.fas, .fab {
  color: #b8b8b8;
  font-size: 3rem;
}