@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
* ul {
  list-style-type: none;
}

html, body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #b8b8b8;
  background-color: #1a1a1a;
  background-image: url("../assets/bg/broken_noise.png");
  overflow-x: hidden;
}

.main-container {
  width: 90vw;
  margin: auto;
  border: 1px solid red;
}

h1 {
  font-weight: 800;
  font-size: 3.5rem;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
}

a {
  color: #b8b8b8;
  text-decoration: none;
}

.navbar {
  height: 10vh;
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #b8b8b8;
}
.navbar__links {
  display: none;
}

.header {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border: 1px solid #b8b8b8;
}
.header .fa-arrow-alt-circle-down {
  color: #b8b8b8;
  font-size: 2rem;
  position: absolute;
  bottom: 5vh;
  align-self: center;
}

.first-section {
  border: 1px solid #b8b8b8;
  height: 70vh;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.first-section__heading {
  margin: 10px 0;
}
.first-section__subheading {
  margin: 10px 0;
  font-weight: 400;
  line-height: 1.5rem;
}
.first-section__subheading--bolder {
  font-weight: 800;
}