@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");
h1 {
  font-weight: 800;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 320px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
}
@media (min-width: 1201px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

h4 {
  font-size: 1rem;
}

a, a:active, a:visited {
  color: #afaeae;
  text-decoration: none;
  transition: 0.2s all ease-in;
}

a:hover {
  color: #e7e6e6;
}

.main-button {
  font-family: "Work Sans", sans-serif;
  padding: 0.5rem 0;
  background: none;
  color: #afaeae;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem 0;
  border: 1px solid #afaeae;
  padding: 1.5rem;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}
.main-button:hover {
  background-color: #afaeae;
  color: #1a1a1a;
}
@media (min-width: 768px) {
  .main-button {
    margin: 2rem 0;
  }
}
@media (min-width: 1201px) {
  .main-button {
    margin: 1rem 0;
  }
}
.main-button--projects {
  font-family: "Work Sans", sans-serif;
  padding: 0.5rem 0;
  background: none;
  color: #afaeae;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem 0;
  border: 1px solid #afaeae;
  padding: 1.5rem;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  justify-self: center;
  grid-column: 1/-1;
}
.main-button--projects:hover {
  background-color: #afaeae;
  color: #1a1a1a;
}
@media (min-width: 1201px) {
  .main-button--projects {
    font-size: 0.9rem;
    width: 25%;
  }
}

.label-tag {
  background-color: #1a1a1a;
  color: #afaeae;
  padding: 0.3rem;
  font-size: 0.6rem;
  border-radius: 5px;
  border: 1px solid #afaeae;
  margin: 0 7px 0 0;
  text-transform: lowercase;
}

.projects-grid__links i {
  font-size: 0.8rem;
}

.contact-grid__info i {
  color: #afaeae;
  font-size: 3rem;
}

.footer__info i {
  margin: 0 5vw;
  font-size: 2rem;
}
@media (min-width: 1201px) {
  .footer__info i {
    margin: 0 20px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* ul {
  list-style-type: none;
}

html, body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.05rem;
  color: #afaeae;
  background-color: #1a1a1a;
  background-image: url("../../assets/bg/Background.png");
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@media (min-width: 1201px) {
  html, body {
    font-size: 18px;
  }
}

.main-container {
  width: 90vw;
  margin: auto;
}
@media (min-width: 1201px) {
  .main-container {
    width: 80vw;
  }
}

.nav-container {
  height: 10vh;
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 3;
}
.nav-container.on-scroll {
  background-color: #1a1a1a;
  box-shadow: 1.9px 4.6px 10px rgba(0, 0, 0, 0.142), 15px 37px 80px rgba(0, 0, 0, 0.2);
}

.navbar {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1201px) {
  .navbar {
    width: 80vw;
  }
}
.navbar__hamburger {
  border: 1px solid #afaeae;
  border-radius: 50%;
  padding: 10px;
  height: 40px;
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}
.navbar__hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.navbar__hamburger.active .bar:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}
.navbar__hamburger.active .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
.navbar__hamburger .bar {
  display: block;
  width: 20px;
  height: 2px;
  margin: 1px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #afaeae;
}
@media (min-width: 1201px) {
  .navbar__hamburger {
    display: none;
  }
}
.navbar__links {
  position: fixed;
  top: -100%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a;
  width: 100%;
  padding: 20px 10px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  z-index: 1;
}
.navbar__links.active {
  top: 0;
}
.navbar__links--item {
  margin: 30px;
  border-bottom: 2px solid #afaeae;
  padding-bottom: 10px;
  text-align: left;
  width: 70%;
}
@media (min-width: 1201px) {
  .navbar__links--item {
    margin: 0;
    border-bottom: none;
    padding-bottom: 0;
    width: auto;
  }
}
.navbar__links--item:first-child {
  margin-top: 60px;
}
@media (min-width: 1201px) {
  .navbar__links--item:first-child {
    margin-top: 0;
  }
}
.navbar__links--item a {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
}
@media (min-width: 1201px) {
  .navbar__links--item a {
    font-family: "Work Sans", sans-serif;
    text-transform: none;
    font-weight: normal;
    font-size: 1rem;
  }
}
@media (min-width: 1201px) {
  .navbar__links--item {
    margin-left: 20px;
  }
}
@media (min-width: 1201px) {
  .navbar__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: unset;
    width: unset;
    padding: 0;
    background: none;
  }
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
@media (min-width: 1201px) {
  .header h1 {
    margin-top: 50vh;
  }
}
@media (max-width: 767px) {
  .header__title--breakline {
    display: none;
  }
}
.header .focus-in-expand-fwd {
  -webkit-animation: focus-in-expand-fwd 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-expand-fwd 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
.header a {
  position: absolute;
  bottom: 3vh;
  align-self: center;
}
.header a .fa-angle-down {
  opacity: 0.3;
  color: #afaeae;
  font-size: 2rem;
}
.header .heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.first-section {
  height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10vh 0;
}
@media (min-width: 768px) {
  .first-section {
    text-align: right;
    align-items: flex-end;
  }
}
@media (min-width: 1201px) {
  .first-section {
    text-align: right;
    align-items: flex-end;
  }
}
.first-section__heading {
  margin: 1rem 0;
  font-size: 2rem;
  line-height: 2.5rem;
}
.first-section__subheading {
  margin: 2rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}
@media (min-width: 768px) {
  .first-section__subheading {
    margin: 1rem 0 1rem 12rem;
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
@media (min-width: 1201px) {
  .first-section__subheading {
    margin: 1rem 0;
  }
}
.first-section__subheading--bolder {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.projects h2 {
  margin-bottom: 10vh;
}

.projects__tags {
  margin: 0.6rem 0 0.4rem;
}

.projects-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
  gap: 15vh;
}
@media (min-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr 1fr;
    gap: 5vh;
    row-gap: 10vh;
  }
}
@media (min-width: 1201px) {
  .projects-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 15vh;
  }
}
.projects-grid__links {
  display: flex;
  justify-content: space-between;
  margin: 1.2rem 0;
}
@media (min-width: 1201px) {
  .projects-grid__links {
    justify-content: space-evenly;
    margin: 1.2rem 0;
  }
}
.projects-grid__item {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 50%;
}
.projects-grid__item-description {
  border-bottom: 2px solid #afaeae;
  padding: 20px 0 10px;
}
.projects-grid__item-menu {
  display: grid;
  grid-template-columns: 1fr;
}
.projects-grid__item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 2px solid #afaeae;
}
.projects-grid__item-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 50vh;
  max-height: 50vh;
}
.projects-grid__item-img--1 {
  background-color: black;
  background-image: url(../../assets/images/js-calculator.png);
  opacity: 0.7;
}
.projects-grid__item-img--2 {
  background-color: black;
  background-image: url(../../assets/images/morsecodepreview.png);
  opacity: 0.7;
}
.projects-grid__item-img--3 {
  background-image: url(../assets/images/laptop.jpg);
}
.projects-grid__item-img--4 {
  background-image: url(../assets/images/tablet.jpg);
}

.skills {
  margin: 25vh 0;
}
@media (min-width: 768px) {
  .skills {
    margin: 15vh 0;
  }
}
@media (min-width: 1201px) {
  .skills {
    margin: 20vh 0 30vh;
  }
}
.skills h2 {
  margin-bottom: 15vh;
}

.skills-grid {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  gap: 5vh;
}
@media (min-width: 1201px) {
  .skills-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.skills-grid__item-menu {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.skills-grid__item-link {
  display: flex;
  justify-content: flex-start;
  width: 70vw;
  margin-top: 5px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 2px solid #afaeae;
}
@media (min-width: 768px) {
  .skills-grid__item-link {
    width: 50vw;
  }
}
@media (min-width: 1201px) {
  .skills-grid__item-link {
    width: 20vw;
  }
}
.skills-grid__item-link h3 {
  font-weight: 500;
  font-size: 1rem;
}

.contact h2 {
  margin-bottom: 15vh;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.contact-grid i {
  margin: 0 5vw;
}
.contact-grid__form {
  margin: 10vh 0;
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  row-gap: 5vh;
}
@media (min-width: 768px) {
  .contact-grid__form {
    width: 70%;
  }
}
@media (min-width: 1201px) {
  .contact-grid__form {
    width: 60%;
  }
}
.contact-grid__form input, .contact-grid__form input:focus, .contact-grid__form input:active, .contact-grid__form textarea {
  outline: none;
  padding: 20px 0;
  background: none;
  border: none;
  border-bottom: 2px solid #afaeae;
  color: #afaeae;
  font-weight: 500;
  text-transform: uppercase;
}
.contact-grid__form input[type=submit] {
  font-family: "Work Sans", sans-serif;
  padding: 0.5rem 0;
  background: none;
  color: #afaeae;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem 0;
  border: 1px solid #afaeae;
  padding: 1.5rem;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  margin-top: 3vh;
  width: 60%;
  justify-self: center;
  border: 1px solid #afaeae;
}
.contact-grid__form input[type=submit]:hover {
  background-color: #afaeae;
  color: #1a1a1a;
}
@media (min-width: 1201px) {
  .contact-grid__form input[type=submit] {
    width: 40%;
  }
}

.footer {
  width: 90vw;
  margin: 5vh auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 20px;
}
@media (min-width: 1201px) {
  .footer {
    margin: 20vh auto 10vh;
    width: 80vw;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}
.footer__quote {
  opacity: 0.2;
  padding: 0 20vw;
  text-align: center;
  text-transform: none;
  font-style: italic;
}
@media (min-width: 1201px) {
  .footer__quote {
    padding: 0;
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
.footer__info {
  padding: 40px 0;
}
@media (min-width: 1201px) {
  .footer__info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
}
.footer__links {
  display: none;
  text-align: right;
  padding: 20px;
}
@media (min-width: 1201px) {
  .footer__links {
    display: inline-block;
    text-align: left;
    line-height: 2rem;
  }
}

.projects-page {
  margin-top: 25vh;
}
.projects-page h2 {
  margin: 10vh 0;
}

.projects-p {
  justify-self: center;
  grid-column: 1/-1;
  margin: 10vh 0;
}
.projects-p a {
  text-decoration: underline;
}

.contact-page {
  margin-top: 30vh;
}
.contact-page h2 {
  margin: 10vh 0;
}

.aboutme {
  margin: 20vh 0;
}
@media (min-width: 1201px) {
  .aboutme {
    margin: 30vh 25vh 25vh 25vh;
  }
}
.aboutme a {
  text-decoration: underline;
}