@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.aboutme {
    margin: 20vh 0;

    @include laptop {
        margin: 30vh 25vh 25vh 25vh;
    }

    a {
        text-decoration: underline;
    }
}