@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.contact h2 {
        margin-bottom: 10vh;
    }

.contact-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    i {
        margin: 0 5.0vw;
    }

    &__form {
        margin: 10vh 0;
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
        row-gap: 5vh;

        @include tablet {
            width: 70%;
        }
        @include laptop {
            width: 60%;
        }

        input, input:focus, input:active, textarea {
            outline: none;
            padding: 20px 0;
            background: none;
            border: none;
            border-bottom: 2px solid $primary-color;
            color: $primary-color;
            font-weight: 500;
            text-transform: uppercase;
        }

        input[type=submit] {
            margin-top: 3.0vh;
            width: 60%;
            justify-self: center;
            border: 1px solid $primary-color;

            @include laptop {
                width: 40%;
            }
        }
    }
}

.fas, .fab {
    color: $primary-color;
    font-size: 3rem;
}