@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.first-section {
    height: 90vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
        text-align: right;
        align-items: flex-end;
    }

    @include laptop {
        text-align: right;
        align-items: flex-end;
    }

    &__heading {
        margin: 1rem 0;
        font-size: 2rem;
        line-height: 2.5rem;
    }

    &__subheading {
        margin: 2rem;
        font-weight: $main-font-regular;
        font-size: 1rem;
        line-height: 1.5rem;

        @include tablet {
            margin: 1rem 0 1rem 12rem;
            font-size: 1.2rem;
            line-height: 2rem;
        }

        @include laptop {
            margin: 1rem 0;
        }

        &--bolder {
            font-family: $secondary-font;
            font-weight: $main-font-extra-bold;
        }
    }
}