@use "../base/variables" as *;

.first-section {
    height: 90vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__heading {
        margin: 10px 0;
        font-size: 2rem;
        line-height: 2.4rem;
    }

    &__subheading {
        margin: 30px;
        font-weight: $main-font-regular;
        line-height: 1.5rem;

        &--bolder {
            font-weight: $main-font-extra-bold;
        }
    }
}