@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer {
    width: 90vw;
    margin: 5vh auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;

    @include laptop {
        margin: 20vh auto 10vh;
        width: 80vw;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    &__quote {
        opacity: 0.2;
        padding: 0 20vw;
        text-align: center;
        text-transform: none;

        @include laptop {
            padding: 0;
            font-size: 2rem;
            line-height: 2.5rem;
        }
    }

    &__info {
        padding: 40px 0;

        @include laptop {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-items: center;
        }
    }

    &__links {
        display: none;
        text-align: right;
        padding: 20px;

        @include laptop {
            display: inline-block;
            text-align: left;
            line-height: 2rem;
        }
    }
}