@use "../base/variables" as *;

.header {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .fa-arrow-alt-circle-down {
        color: $primary-color;
        font-size: 2rem;
        position: absolute;
        bottom: 5.0vh;
        align-self: center;
    }
}