@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    h1 {
        @include laptop {
                margin-top: 30vh;
        }
    }

    &__title--breakline {       
        @include mobile {
                display: none;
        }
    }

    .focus-in-expand-fwd {
	    -webkit-animation: focus-in-expand-fwd 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	    animation: focus-in-expand-fwd 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

        @-webkit-keyframes focus-in-expand-fwd {
            0% {
              letter-spacing: -0.5em;
              -webkit-transform: translateZ(-800px);
                      transform: translateZ(-800px);
              -webkit-filter: blur(12px);
                      filter: blur(12px);
              opacity: 0;
            }
            100% {
              -webkit-transform: translateZ(0);
                      transform: translateZ(0);
              -webkit-filter: blur(0);
                      filter: blur(0);
              opacity: 1;
            }
          }
          @keyframes focus-in-expand-fwd {
            0% {
              letter-spacing: -0.5em;
              -webkit-transform: translateZ(-800px);
                      transform: translateZ(-800px);
              -webkit-filter: blur(12px);
                      filter: blur(12px);
              opacity: 0;
            }
            100% {
              -webkit-transform: translateZ(0);
                      transform: translateZ(0);
              -webkit-filter: blur(0);
                      filter: blur(0);
              opacity: 1;
            }
          }
          
    }

    .fa-arrow-alt-circle-down {
        opacity: 0.3;
        color: $primary-color;
        font-size: 2rem;
        position: absolute;
        bottom: 5.0vh;
        align-self: center;
    }

    .heartbeat {
        -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
        animation: heartbeat 1.5s ease-in-out infinite both;

        @-webkit-keyframes heartbeat {
            from {
              -webkit-transform: scale(1);
                      transform: scale(1);
              -webkit-transform-origin: center center;
                      transform-origin: center center;
              -webkit-animation-timing-function: ease-out;
                      animation-timing-function: ease-out;
            }
            10% {
              -webkit-transform: scale(0.91);
                      transform: scale(0.91);
              -webkit-animation-timing-function: ease-in;
                      animation-timing-function: ease-in;
            }
            17% {
              -webkit-transform: scale(0.98);
                      transform: scale(0.98);
              -webkit-animation-timing-function: ease-out;
                      animation-timing-function: ease-out;
            }
            33% {
              -webkit-transform: scale(0.87);
                      transform: scale(0.87);
              -webkit-animation-timing-function: ease-in;
                      animation-timing-function: ease-in;
            }
            45% {
              -webkit-transform: scale(1);
                      transform: scale(1);
              -webkit-animation-timing-function: ease-out;
                      animation-timing-function: ease-out;
            }
          }
          @keyframes heartbeat {
            from {
              -webkit-transform: scale(1);
                      transform: scale(1);
              -webkit-transform-origin: center center;
                      transform-origin: center center;
              -webkit-animation-timing-function: ease-out;
                      animation-timing-function: ease-out;
            }
            10% {
              -webkit-transform: scale(0.91);
                      transform: scale(0.91);
              -webkit-animation-timing-function: ease-in;
                      animation-timing-function: ease-in;
            }
            17% {
              -webkit-transform: scale(0.98);
                      transform: scale(0.98);
              -webkit-animation-timing-function: ease-out;
                      animation-timing-function: ease-out;
            }
            33% {
              -webkit-transform: scale(0.87);
                      transform: scale(0.87);
              -webkit-animation-timing-function: ease-in;
                      animation-timing-function: ease-in;
            }
            45% {
              -webkit-transform: scale(1);
                      transform: scale(1);
              -webkit-animation-timing-function: ease-out;
                      animation-timing-function: ease-out;
            }
          }
          
    }
}