@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.skills {
    margin: 25vh 0;

    @include tablet {
        margin: 15vh 0;
    }

    @include laptop {
        margin: 30vh 0;
    }

    h2 {
        margin-bottom: 10vh;
    }
}

.skills-grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    gap: 5vh;

    @include laptop {
        grid-template-columns: repeat(3, 1fr);
    }

    &__item {

        &-menu {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
        }

        &-link {
            display: flex;
            justify-content: flex-start;
            width: 70vw;
            margin-top: 5px;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 500;
            border-bottom: 2px solid $primary-color;

            @include tablet {
                width: 50vw;
            }

            @include laptop {
                width: 20vw;
            }

            h3 {
                font-weight: 500;
                font-size: 1rem;
            }
        }
    }
}
