@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.navbar {
    height: 10vh;
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include laptop {
        width: 80vw;
    }
    
    &__links {
        display: none;

        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        @include laptop {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        li {
            margin: 0 10px;

            @include laptop {
                margin: 0 20px;
            }
        }
    }
}