@use "../base/variables" as *;

.navbar {
    height: 10vh;
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__links {
        display: none;
    }
}