@use "../base/variables" as *;

.projects {
    margin: 25px 0;
}

.projects-grid {
    margin: 5.0vh auto;
    width: 90%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
    gap: 50px;

    &__item {
        display: grid;
        grid-template-columns: 1fr;
        min-height: 70%;
        margin: 4.0vh 0;

        &-description {
            border-bottom: 2px solid $primary-color;
            padding: 20px 0;
        }

        &-menu {
            display: grid;
            grid-template-columns: 1fr;
        }

        &-link {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 0;
            font-size: 1.1rem;
            text-transform: uppercase;
            font-weight: 500;
            border-bottom: 2px solid $primary-color;
        }

        &-img {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            min-height: 50vh;
            max-height: 60vh;

            &--1 {
                background-image: url(../assets/images/robot.jpg);
            }

            &--2 {
                background-image: url(../assets/images/connect.jpg);
            }

            &--3 {
                background-image: url(../assets/images/laptop.jpg);
            }

            &--4 {
                background-image: url(../assets/images/tablet.jpg);
            }
        }
    }
}