@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.projects h2 {
    margin-bottom: 10vh;

    @include tablet {
        margin-bottom: 5vh;
    }
}

.projects-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
    gap: 15vh;

    @include tablet {
        grid-template-columns: 1fr 1fr;
        gap: 5vh;
        row-gap: 10vh;
    }

    @include laptop {
        grid-template-columns: 1fr 1fr;
        gap: 10vh;
    }

    &__item {
        display: grid;
        grid-template-columns: 1fr;
        min-height: 50%;

        &-description {
            border-bottom: 2px solid $primary-color;
            padding: 20px 0;
        }

        &-menu {
            display: grid;
            grid-template-columns: 1fr;
        }

        &-link {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0;
            text-transform: uppercase;
            font-weight: 500;
            border-bottom: 2px solid $primary-color;
        }

        &-img {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            min-height: 50vh;
            max-height: 50vh;

            @include tablet {
                min-height: 30vh;
                max-height: 45vh;
            }

            @include laptop {
                min-height: 45vh;
                max-height: 45vh;
            }

            &--1 {
                background-image: url(../assets/images/robot.jpg);
            }

            &--2 {
                background-image: url(../assets/images/connect.jpg);
            }

            &--3 {
                background-image: url(../assets/images/laptop.jpg);
            }

            &--4 {
                background-image: url(../assets/images/tablet.jpg);
            }
        }
    }
}