@use "../base/variables" as *;

h1 {
    font-weight: $main-font-extra-bold;
    font-size: 3rem;
}

h2 {
    font-weight: $main-font-bold;
    font-size: 2rem;
    line-height: 2.5rem;
}

h3 {
    font-weight: $main-font-bold;
    font-size: 1.3rem;
    line-height: 2rem;
    text-transform: uppercase;
}

a {
    color: $primary-color;
    text-decoration: none;
}
