// VARIABLES

$primary-color: rgba(175, 174, 174, 0.863);
$secondary-color: rgb(26, 26, 26);
$accent-color: rgb(209, 209, 209);
$main-font: 'Work Sans', sans-serif;
$main-font-light: 300;
$main-font-regular: 400;
$main-font-medium: 500;
$main-font-bold: 600;
$main-font-extra-bold: 800;
$secondary-font: 'Montserrat', sans-serif;

// MEDIA QUERIES BREAKPOINTS

$breakpoint-small: 320px; //max-width
$breakpoint-mobile: 767px; //max-width
$breakpoint-tablet: 768px; //min-width
$breakpoint-laptop: 1224px; //min-width
$breakpoint-desktop: 1300px; //min-width