// VARIABLES

$primary-color: rgb(184, 184, 184);
$secondary-color: rgb(26, 26, 26);
$main-font: 'Montserrat', sans-serif;
$main-font-light: 200;
$main-font-regular: 400;
$main-font-medium: 500;
$main-font-bold: 700;
$main-font-extra-bold: 800;

// MEDIA QUERIES BREAKPOINTS

$breakpoint-small: 320px; //max-width
$breakpoint-mobile: 767px; //max-width
$breakpoint-tablet: 768px; //min-width
$breakpoint-laptop: 1024px; //min-width
$breakpoint-desktop: 1025px; //min-width